
.tooltips{
    position: fixed;
    border: 2px outset black;
    background: white;
}

.tooltips  .header{
    border: 1px;
    height: 2em;
    background: grey;
}

.tooltips .header .title {
    left: .5em;
    top:  .3em;
    position: absolute;
    color: white;
}

.tooltips .header button {
    right: .3em;
    position: absolute;
    height: 20px;
}

.tooltips  .header button span {
    position: absolute;
    height: 11px;
    width: 11px;
    margin-left: -5px;
    margin-top: -5px;
    background-image: url('../img/close.png');
}

.tooltips p{
    color: black;
}
